//adjustment vars
$footer-height: 50px;
$container-width: 960px;
$body-font : 'fira_sansregular', Helvetica, serif;


//vars
$white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;
$black: #414141;
$gray: #727272;


// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "_misc/font-awesome";



//styles
@import "sections/index";
@import "sections/auth";
@import "sections/career";
@import "sections/portfolio";
@import "sections/header";
@import "sections/footer";
@import "sections/sidebar";
@import "sections/content";


//media
@import "adaptive/media";
