@media screen and (max-width: 1200px) {//hd
	html {
		font-size: 16px;
	}

	.container {
		width: 970px;
	}
}

@media screen and (max-width: 992px) {//laptop
	html {
		font-size: 15px;

	}

	.container {
		width: 750px;
	}
}

@media screen and (max-width: 768x) {//tablet
	html {
		font-size: 14px;

	}

	.container {
		width: 480px;
	}
}

@media screen and (max-width: 480px) {//phone
	html {
		font-size: 12px;

	}

	.container {
		width: auto;
	}
}
